<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911996278294-uun9ai5hre3d8qikpj9vv4248qeu4a9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911996278294-uun9ai5hre3d8qikpj9vv4248qeu4a9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911996278294-i511uc7iocdut77fgc7j291ua24lpe8l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvC3H0Dyt1NR3Jxb1oACIz8VT3cHJq8eg</string>
	<key>GCM_SENDER_ID</key>
	<string>911996278294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rideout</string>
	<key>PROJECT_ID</key>
	<string>rideout-nz</string>
	<key>STORAGE_BUCKET</key>
	<string>rideout-nz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911996278294:ios:b88ceba72f0533c6fc4737</string>
</dict>
</plist>